@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}
.logo {
  width: 30px;
}

button {
  border: solid 1px rgb(10, 169, 116);
  padding: 0.5rem;
  background-color: transparent;
  color: rgb(10, 169, 116);
  cursor: pointer;
}

@keyframes highlight {
  0% {
    color: rgb(10, 169, 116);
  }
  50% {
    color: yellow;
  }
  100% {
    color: rgb(10, 169, 116);
  }
}

/* .green  */
a {
  text-decoration: none;
  color: rgb(10, 169, 116);
  transition: 0.4s;
  padding: 3px;
  &.number {
    color: var(--color-text);
  }
  &.greenAttention {
    color: rgb(11, 243, 165);
    transition: 0.4s;
  }
  &.showhighlight {
    animation: highlight 1000ms ease-out;
  }
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
    i {
      border-color: rgb(10, 169, 116);
    }
  }
}

@media (min-width: 1024px) {
  body {
    /* display: flex;
    place-items: center; */
  }

  #app {
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    padding: 0 2rem;
  }
}
